.header {
  padding: 20px;
  text-align: center;
  height: 30px;
  .textContainer {
    display: flex;
    justify-content: space-between;
    .linkText {
      text-decoration: none;
      color: black;
    }
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
